
body, html {
    background-color: #6dcff6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.header {
    position: relative;
    height: 30vh; /* Adjust height as needed */
    background-image: ; /* Set the image as background */
    background-size: cover; /* Make sure the background image covers the entire header */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    overflow: hidden; /* Prevent content from overflowing */
}

.home-button {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    background-color: #6dcff6;
    background-image: url('/pages/static/HomeButton.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
    color: transparent; /* Hide text */
    transition: transform 0.3s ease-in-out;
}

.home-button:hover {
    background-color: #9b51e0;
    transform: scale(1.1);
}
.purpletext {
    color: #C052EE;
    font-size: 30;
    font-size: larger;

}
.info {
    color: dark;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding : 0 20px 20px;
}

.title-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; /* Add padding to the box */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    border: 2px solid black; /* Black border */
    z-index: 2; /* Ensure box is above the image */
}


.title {
    font-size: 36px;
    color: #000; /* Text color */
    text-align: center;
    margin: 0; /* Remove default margin */
}

.frame {
    background-color: white; /* Set background color to white */
    padding: 30px; /* Add padding to create space inside the box */
    border: 1px solid black;
    width: 70%; /* Adjust width as needed */
    margin: 0 auto; /* Center horizontally */
    margin-top: 20px; /* Add top margin to create space below header */
}

.text-box input[type="text"] {
    width: 90%; /* Lengthen input box */
    box-sizing: border-box;
    padding: 10px; /* Add padding to the input box */
}

