/* General Styles */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-color: #6dcff6;
}

/* Header Styles */
.header {
    position: relative;
    height: 30vh; /* Adjust height as needed */
    background-image: url('TugBoat2.jpg'); /* Set the image as background */
    background-size: cover; /* Make sure the background image covers the entire header */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    overflow: hidden; /* Prevent content from overflowing */
}

/* Home Button Styles */
.home-button {
    position: absolute;
    top: 50px;
    left: 1px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    background-color: #6dcff6;
    background-image: url('HomeButton.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
    color: transparent; /* Hide text */
    transition: transform 0.3s ease-in-out;
}

.home-button:hover {
    background-color: #9b51e0;
    transform: scale(1.1);
}

/* Text Styles */
.bluetext {
    color: lightseagreen;
    font-size: 30px;
}

.info {
    color: #333; /* Adjusted for better visibility */
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px 20px;
    font-family: GCMBase, Arial, sans-serif;
}

/* Frame Styles */
.frame {
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

/* Text Box Styles */
.text-box input[type="text"],
.text-box select {
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
}

.text-box button {
    padding: 10px 20px;
    background-color: #6dcff6;
    border: none;
    cursor: pointer;
    color: white;
}

.text-box button:hover {
    background-color: #9b51e0;
}

/* Include this link in your HTML to use the external CSS */
/* <link rel="stylesheet" type="text/css" href="styling.css"> */
